body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column; /* Asegura que todo se alinee verticalmente */
}

.sidebar {
    width: 150px;
    background-color: #00c601;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    position: fixed; 
    top: 0;
    left: 0;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    width: 50%;
    border-bottom: 1px inset #fff;
    margin: 10px 0px 0px 30px;
    padding: 4px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
}

.sidebar-logos img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.bk-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
    transition: 0.4s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-left: 170px; 
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    min-width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    max-width: 100%; 
}

.right-column {
    flex: 1;
    min-width: 300px;
    background-color: #00c601;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

h1 span {
    color: #00c601;
}

p {
    font-size: 1em;
    color: #333;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00c601;
    color: white;
    border: 2px solid #fff; /* Esto asegura que el borde esté visible */
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}


.right-column img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-icons img {
    width: 40px; 
    height: 40px;
}

/* Estilos para la sección Acerca de mí */
.about-me-section {
    
    background-color: #00c601; /* Fondo verde */
    color: white;
    text-align: center;
    padding: 50px 0;
    width: 100%; /* Ocupar todo el ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Añade un espacio para separarlo del contenido principal */
}

.about-me-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.about-me-buttons {
    display: flex;
    justify-content: center; /* Asegurar que los botones estén centrados */
    gap: 10px; /* Añadir espacio entre los botones */
    margin-top: 20px;
}

/* Ajustes responsivos */

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .right-column {
        min-width: 100%; 
    }

    .left-column p {
        text-align: center;
    }

    button {
        display: block;
        margin: 20px auto 0;
    }

    .hamburger {
        display: block;
    }

    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }
}
