body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
}

.sidebar {
    width: 150px;
    background-color: #00c601;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    transition: transform 0.3s ease;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    width: 50%;
    border-bottom: 1px inset #fff;
    margin: 10px 0px 0px 30px;
    padding: 4px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
}

.sidebar-logos img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.bk-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

/* Estilos del botón hamburguesa */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    display: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
    transition: 0.4s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.right-column {
    flex: 1;
    min-width: 400px;
    background-color: #00c601;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

h1 span {
    color: #00c601;
}

p {
    font-size: 1em;
    color: #333;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00c601;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.right-column img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-icons img {
    width: 40px; /* Tamaño de los iconos de redes sociales */
    height: 40px;
}


/* Responsive adjustments */

@media (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}

@media (max-height: 650px) {
    .sidebar {
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .right-column {
        min-width: 300px; 
    }

    .left-column p {
        text-align: center;
    }

    button {
        display: block;
        margin: 20px auto 0;
    }
}
