body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
}

h1, h2, h3 {
    color: #333;
}

#introduction {
    background: #fff;
    padding: 50px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-text {
    max-width: 50%;
}

.intro-text h1 {
    font-size: 3em;
    margin: 0;
    color: #333;
}

.intro-text p {
    font-size: 1.2em;
    color: #666;
    margin-top: 20px;
}

.intro-text h1 .highlight {
    color: #00c601; /* Color amarillo */
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background: #00c601;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.intro-image {
    max-width: 50%;
    text-align: right;
    background-color: ;
}

.intro-image img {
    max-width: 100%;
    border-radius: 10px;
}
