body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
}

.sidebar {
    width: 150px;
    background-color: #00c601;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    position: fixed; /* La barra lateral ahora es fija */
    top: 0;
    left: 0;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    width: 50%;
    border-bottom: 1px inset #fff;
    margin: 10px 0px 0px 30px;
    padding: 4px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
}

.sidebar-logos img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.bk-icon img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}

/* Estilos del botón de hamburguesa, inicialmente oculto en pantallas grandes */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 10px; /* Cambiar de 'right' a 'left' para posicionarlo a la izquierda */
    z-index: 1000;
    display: none;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #333;
    transition: 0.4s;
}

/* Estilos generales de la página */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding-left: 170px; /* Añade un espacio para la barra lateral */
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    min-width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
    max-width: 100%; /* Asegura que la columna izquierda no se desborde */
}

.right-column {
    flex: 1;
    min-width: 300px;
    background-color: #00c601;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

h1 span {
    color: #00c601;
}

p {
    font-size: 1em;
    color: #333;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00c601;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.right-column img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-icons img {
    width: 40px; /* Tamaño de los iconos de redes sociales */
    height: 40px;
}

/* Ajustes responsivos */

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .right-column {
        min-width: 100%; /* La columna derecha ocupa el 100% del ancho disponible */
    }

    .left-column p {
        text-align: center;
    }

    button {
        display: block;
        margin: 20px auto 0;
    }

    .hamburger {
        display: block; /* Mostrar el botón de hamburguesa en móviles */
    }

    .sidebar {
        transform: translateX(-150px); /* Ocultar el sidebar inicialmente en móviles */
    }

    .sidebar.active {
        transform: translateX(0); /* Mostrar el sidebar cuando el botón de hamburguesa se activa */
    }

    .container {
        flex-direction: column; /* Cambia la dirección del flex en pantallas pequeñas */
        padding-left: 0; /* Elimina el margen izquierdo para pantallas pequeñas */
    }

    .left-column,
    .right-column {
        max-width: 100%; /* Asegura que las columnas ocupen el 100% del ancho disponible */
        flex: 1 1 100%;
    }
}
